.selector-for-some-widget {
    box-sizing: content-box;
  }
.container {
  display: flex;
}
.row {
  height: 90vh;
}
footer {
  background-color: aqua;
}
.nav {
  background-color: blue;
}
.green-col {
  background-color: green;
}
.red-col {
background-color: crimson;
}